.parriba{text-align:center;margin-top:0px;}

.otraclase{border: 1px solid #eee;height:80px;}

.clasespan{text-align:center;display: block;width: 100%;}


.menu{margin-right:10%;width:100%;z-index:1}

.imagen{height:64px !important}

.tit{font-size:3.8em;color:green}

 .card-tittle .card-content {
  display: none;
  height:100%;
 font-size: 15px !important; 
font-weight: inherit;
background-color:green;
}

#ensaladas .card .card-reveal {background-color:rgba(0,77,64,0.9);color: white;font-size:18px ;}
#principales .card .card-reveal {background-color:rgba(244,67,54,0.9);color: white;font-size:18px ;}
#postres .card .card-reveal {background-color:rgba(158,158,158,0.9);color: white;font-size:18px ;}
#ensaladas,#principales,#postres .card .card-title {
    font-size: 28px;
    font-weight: 300;
	color: white !important;
}

.fixed-action-btn.horizontal ul li {
    display: inline-block;
    margin: 8px 8px 0 0; 	
}
.alinea{text-align:center}
h2, li a.btn-floating{text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);}
p:hover{color:blue}


.submenu li{float:none;background-color:grey}
.submenu{position:absolute;opacity:0;z-index:100;transition:all .4s ease .15s;visibility:hidden}

.desplegable:hover .submenu {opacity:1;visibility:visible}